@charset "UTF-8";
/*--------------------------------------------------
Variable
--------------------------------------------------*/
/*---------- Basic ----------*/
/*---------- Font ----------*/
/*---------- Color ----------*/
/*---------- etc ----------*/
/*--------------------------------------------------
Mixin
--------------------------------------------------*/
/*---------- Responsive ----------*/
/*---------- アニメーション ----------*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeIn_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes fadeIn_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeIn_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*---------- 画像 ----------*/
/*--------------------------------------------------
お問い合わせ
--------------------------------------------------*/
.page_contact_desc {
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.page_contact_con .smf-item__col--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.page_contact_con .smf-item__col--controls {
  margin-top: 10px;
}
.page_contact_con .smf-item__col--controls .smf-error-messages {
  color: #c90505;
  font-size: 14px;
  margin-top: 5px;
}
.page_contact_con .smf-item__col--controls .smf-placeholder {
  font-size: 16px;
  word-break: break-all;
}
.page_contact_con .smf-item__description {
  margin-top: 0;
  color: #c90505;
}
.page_contact_con .smf-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page_contact_con .smf-action .smf-button-control__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 65px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 1;
  border: 2px solid #000;
  border-radius: 50px;
  position: relative;
}
.page_contact_con .smf-action .smf-button-control__control::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 17px;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/assets/img/common/arr.svg) no-repeat center center/contain;
}
.page_contact_con .smf-action .smf-button-control__control[data-action=back]::after {
  left: 20px;
  -webkit-transform: translateY(-50%) scale(-1, 1);
          transform: translateY(-50%) scale(-1, 1);
}
.page_contact_con .smf-system-error-content-ready {
  display: none;
}

@media all and (min-width: 768px) {
  .page_contact {
    margin-bottom: 120px;
  }
  .page_contact_con {
    margin-top: 60px;
  }
  .page_contact_con .smf-item:not(:first-child) {
    margin-top: 30px;
  }
  .page_contact_con .smf-item__label {
    font-size: 18px;
  }
  .page_contact_con .smf-item__description {
    font-size: 14px;
  }
  .page_contact_con .smf-action {
    margin-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .page_contact_con .smf-action .smf-button-control__control {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .page_contact_con .smf-action .smf-button-control__control::after {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .page_contact_con .smf-action .smf-button-control__control:hover {
    color: #fff;
    background-color: #000;
  }
  .page_contact_con .smf-action .smf-button-control__control:hover::after {
    background: url(/assets/img/common/arr_white.svg) no-repeat center center/contain;
  }
}
@media screen and (max-width: 767px) {
  .page_contact {
    margin-bottom: 80px;
  }
  .page_contact_con {
    margin-top: 50px;
  }
  .page_contact_con .smf-item:not(:first-child) {
    margin-top: 20px;
  }
  .page_contact_con .smf-item__label {
    font-size: 16px;
  }
  .page_contact_con .smf-item__description {
    font-size: 14px;
  }
  .page_contact_con .smf-action {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
/*--------------------------------------------------
お問い合わせ　完了画面
--------------------------------------------------*/
.page_contact_con .snow-monkey-form[data-screen=complete] .smf-action {
  margin-top: 0 !important;
}
.page_contact_con_txt01 {
  font-size: 16px;
}
.page_contact_con_txt02 {
  font-size: 16px;
}
.page_contact_con_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media all and (min-width: 768px) {
  .page_contact_con_ttl {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
  }
  .page_contact_con_txt02 {
    margin-top: 20px;
  }
  .page_contact_con_btn {
    margin: 60px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .page_contact_con_ttl {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .page_contact_con_txt02 {
    margin-top: 20px;
  }
  .page_contact_con_btn {
    margin: 30px auto 0;
  }
}
/*# sourceMappingURL=contact.css.map */